/* nav related css */
body {
    margin: 0;
    padding: 0;
}

.hero-section {
    width: 100%;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 97px;
}

.text-contsiner {
    width: 708px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.text-flow {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.text-flow-p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.common-butn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.img-header {
    width: 635px;
    height: 800px;
    margin-bottom: -54px;
}

.text-future {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
}

.text-future-1 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}

.mt-128px {
    margin-top: 128px;
}

.contsiner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.text-estable-continer {
    width: 594px;
}

.text-estable {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.flower-contsiner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.flower-content {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-content_2 {
    width: 464px;
    height: 538px;
    /* border-radius: 300px 300px 0px 0px; */
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    background: rgba(5, 151, 160, 0.15);
}

.flower-content_3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.f1-container {
    width: 310px;
    height: 428px;
    margin-top: 110px;
    margin-left: 30px;
}

.f2-container {
    width: 370px;
    height: 370px;
    margin-top: 120px;
    margin-left: 40px;
}

.f3-container {
    width: 314px;
    height: 471px;
    margin-top: 68px;
    margin-left: 40px;
}

.text-pink {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline
}

.same-day {
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 128px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.flower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sele-up {
    width: 100%;
    height: 620px;
    /* border-radius: 8px; */
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 86px;
}

.sele-up-h4 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin: 0;
}

.sele-container {
    width: 594px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sele-up-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.text-red {
    color: #E55473;
}


.img-pngwing-8 {
    width: 318px;
    height: 420px;
}

.flower-content-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

.flower-1 {
    width: 342px;
    height: 396px;
}

.leatest-details {
    width: 1440px;
    height: 449px;
    background: url("/Flower_Asset/Rectangle_9.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 128px auto;
}

.leatest-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.email-here {
    width: 700px;
    padding: 23px 10px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.footer {
    width: 100%;
    height: 449px;
    background-color: #111010;
}

.foter-h1 {
    font-size: 48px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin: 0 ;
    padding-top: 128px;
}

.footer-p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
    margin: 24px auto 0 auto;
}

.text-p2 {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 32px 0;
}